#camera {
  width: 640px;
  height: 480px;

  position: relative;

  display: flex;

  justify-content: center;
  align-items: center;

  overflow: hidden;

  transform: scale(1.6, 1.6);
}

.coco-predict {
  background: rgba(0, 255, 0, 0.158);
  border: 1px dashed #fff;
  z-index: 10;
  position: absolute;
}

.movement-predict {
  background: rgb(0, 119, 255);
  border-radius: 100%;
  width: 3px;
  height: 3px;

  z-index: 15;
  position: absolute;
}
